<div class='Info'>
   <h1>Welcome to the Ultimate Chef Application</h1>
</div>

<div class='Home_Page'>
  <div class='text'>
   <%= video_tag "WIN_20170628_16_22_31_Pro.mp4", :size => "825x525", :controls => true %>
  </div>
</div>
<br>
<br>
<br>
<br>
<p>Copyright Benjamin Nicklaus 2017</p>


<!--<p>Explore the many features of this application</p>-->
<!--   <p>*Learn proper cooking measurements</p>-->
<!--   <p>*Read blogs consisting</p>-->
<!--   <p>of my favorite recipes,</p>-->
<!--   <p>*And lastely feel free to sign-up</p>-->
<!--   <p>and post your own favorite recipes</p>-->




