<h1>Welcome to the Ultimate Chef Application</h1>
<hr>
<p>Explore the many features of this site from:</p>
<p>learning proper cooking measurements </p>
<p>Read my blog-that consists of my favorite recipes</p>
<p>And lastely feel free to sign-up and post your own favorite recipes</p>
<hr>

<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#"><div><%= link_to "measurements", pages_measurements_path%></div></a>
    <a href="#"><div><%= link_to "about_me", pages_about_me_path%></div></a>
  </div>
</div>



