<div class="container">
  <div class="header">
    <font color="grey"><h1>Welcome to My Favorite Recipes</h1></font>
  </center></div>
  <div class="Posts">
    <hr>
    <p>On this page you will see my favorite recipes, Hope you enjoy them!!!</p>
  </div>
</div>


