@import "bootstrap";
@import "gritter";

.Home_Page {
  background-image: url("waffles-2190961_960_720.jpg");

  background-repeat: no-repeat;
  background-size: 100%;
  padding: 70%;
  border: #672913;
  border-radius: 45px;
}

.text {
  z-index: 100;
  position: absolute;
  color: gray;
  font-size: 24px;
  font-weight: bold;
  line-height: 8.1;
  left: 677px;
  top: 335px;
  
}

.Info {
 color: grey;
 font-size: 3.5rem;
 background-color: transparent;
 border-color: clear;
 text-align: center;
}

ul {
    list-style-type: none;
    margin: -40;
    padding: 20px 30px;
    overflow: hidden;
    background-color: transparent;
    display: block;
    text-align: center;
    font-size: 28px;
}

video {
    border-bottom-right-radius: 424px;
    border-bottom-left-radius: 422px;
    margin: -106px;
    padding-left: 3px;
    margin-left: 46px;
}

// z-index: 100;
//   margin-top: -305px;
//   position: absolute;
//   color: black bold;
//   font-size: 24px;
//   font-weight: bold;
//   left: 190px;
//   top: 350px

